.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #C0A9B0;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #C692A2;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: translateY(1px);
}
