.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-PlayButton {
  height: 400;
  width: 100;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputbox {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.inputbox:focus {
  outline: none;
  border-bottom-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.1);
}

.inputbox::placeholder {
  color: #999;
  opacity: 0.8;
}

.search-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  align: center;
}

.inputbox {
  /* Add desired styling for the input box */
  /* Example styles */
  padding: 10px;
  border: 1px solid #ccc;
}

.micr {
  /* Add desired styling for the microphone element */
  /* Example styles */
  margin-left: 10px;
}

.table-container {
  box-sizing: border-box;
  max-width: 850px; /* Adjust the width as needed */
  margin: 0 auto; /* Center align the table container */
  border: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#73A6AD, #BCC4DB, #C0A9B0, #FEC3A6);

}

h1 {
  color: #222222; /* Dark color value */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.Scroll {
  /*background-color: #414066;*/
  background-image: url("components/images/bg.jpg");
  padding: 80px;
  border-radius: 10px;
}

@font-face {
  font-family: 'CustomFont';
  src: url('components/fonts/Anurati-Regular.otf') format('opentype');
}

h1, h2, h3, h4, p, .button, .Button, .Scroll {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: WHITE;
}
h1 {
  font-family: 'CustomFont';
  font-size: 60px; /* Set the desired font size */
}

h2 {
  font-size: 30px; /* Set the desired font size */
}

h3 {
  font-size: 20px; /* Set the desired font size */
}

p {
  font-size: 20px; /* Set the desired font size */
}



